@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Kanit:wght@300&display=swap');

body {
  background: url('./media/background.jpg') no-repeat;
}

h1 {
  color: white;
}

button:hover {
  cursor: pointer;
}

.App {
  box-shadow: inset 0px 0px 250px 75px black;
  position: absolute;
  height: 100%;
  width: 100%;
}

.App h1 {
  font-family: 'Hammersmith One', sans-serif;
}

/* NavBar.jsx */

.navbar {
  display: flex;
  margin: 10px 100px;
}

.navbar .logo {
  height: 70px;
  width: 120px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.nav-items a {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.nav-items .active {
  color: #912F40;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btns {
  display: flex;
  align-items: center;
}

.btns input {
  margin: 0 10px;
  height: 7vh;
}

.btns input:hover {
  cursor: pointer;
}

.signin-btn {  
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: 'Hammersmith One', sans-serif;
  background: #912F40;
  color: white;
  outline: none;
  border: none;
}
.signup-btn {  
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: 'Hammersmith One', sans-serif;
  background: #4F8CCC;
  color: white;
  outline: none;
  border: none;
}

/* Home.jsx */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  margin: 0 100px;
  line-height: 10px;
}

.home h1 {
  font-size: 4rem;
  font-family: 'Kanit', sans-serif;
}

.home p {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  font-size: 1.2rem;
}

/* signin.jsx */

.signin {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.521);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.entry-popup {
  padding: 25px;
  border-radius: 5px;
  width: 30vw;
  background: white;
  display: flex;
  flex-direction: column;
}

.entry-popup h1{
  color: #080705;
}

.entry-popup i {
  color: #080705;
}

.entry-popup i:hover {
  cursor: pointer;
}

.entry-form {
  display: flex;
  flex-direction: column;
}

.entry-form * {
  margin: 10px 0;
}

.entry-form input {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: #EFEFEF;
}

.entry-form input::placeholder {
  font-family: 'Kanit';
  font-weight: bold;
}

.entry-form button {
  outline: none;
  border: none;
  font-family: 'Kanit';
  font-weight: bold;
  background: #912F40;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* Signup.jsx */

.signup {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.521);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.entry-row input {
  margin: auto 5px;
}

/* Profile.jsx */

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 100px;
  height: 80%;
}

.profile i, .profile p {
  color: white;
}

.secone-text {
  display: flex;
}

.secone-text i {
  cursor: pointer;
}

.secone-text p {
  font-size: 2rem;
}

.secone-text p, .secone-text i {
  margin: auto 10px;
}

.secone-img img {
  cursor: pointer;
  margin: auto 10px;
  height: 200px;
  width: 140px;
  opacity: 0.8;
  border-radius: 5px;
}

.sec-two img {
  height: 300px;
  width: 450px;
  border-radius: 10px;
}

.sec-two p {
  font-size: 2.4rem;
  font-weight: 400;
}